<article class="generic-information primary-card">
    <header class="card-header"><span class="first-word">Generic </span> <span class="rest-of-word">
        Information</span></header>
    <section class="generic-info-container">
      <ol class="generic-info-ol">
        <li class="grid-col-span-2">Client: 5 Below</li>
        <li class="grid-row-span-3 location">Location: 123</li>
        <li>District: 1</li>
        <li>Region: 10</li>
        <li>Category: HVAC</li>
        <li>Task: Fix it</li>
      </ol>

      <div class="description-outer-container">
        <div class="description-inner-container">
          <p class="description">Description: It's hot!</p>
        </div>
      </div>
    </section>
  </article>