<article class="service-history secondary-card">
    <header class="card-header"><span class="first-word">Service </span><span class="rest-of-word"> History</span>
    </header>
    <main class="service-history-content-container">
        <ol class="service-history-ol"> <!-- Add *ngFor for all the service history for the work order -->
            <li class="test-service-history-1">Service History 1</li>
            <li class="test-service-history-2">Service History 2</li>
            <li class="test-service-history-3">Service History 3</li>
            <li class="test-service-history-4">Service History 4</li>
            <li class="test-service-history-5">Service History 5</li>
            <li class="test-service-history-6">Service History 6</li>
            <li class="test-service-history-7">Service History 7</li>
            <li class="test-service-history-8">Service History 8</li>
            <li class="test-service-history-9">Service History 9</li>
            <li class="test-service-history-10">Service History 10</li>
        </ol>
    </main>
  </article>