<article class="service-history secondary-card">
    <header class="card-header"><span class="first-word">Service </span><span class="rest-of-word"> History</span>
    </header>
    <main class="service-history-content-container">
        <ol class="service-history-ol"> <!-- Add *ngFor for all the service history for the work order -->
            <li class="test-service-history-1">Service History 1</li>
            <li class="test-service-history-2">Service History 2</li>
            <li class="test-service-history-3">Service History 3</li>
        </ol>
    </main>
  </article>