@import '../../../assets/colors.scss';

.important-notes-content-container {
    margin-top: 0.5rem;
    padding: 10px;
    height: 72%;
    border-radius: 18px;
    margin: 1rem;
    background: $lighter-seagreen;
}

.important-notes-content-container p {
    // color: $red-color;
    color: rgb(6, 27, 27);
}

.important-notes-content-container ol li {
    list-style: none;
    border: 1px solid $lighter-seagreen;
    border-radius: 5px;
    padding: 2px;
    // box-shadow: 1px 2px 2px $box-shadow-gray;
    background: lightseagreen;
}

.important-notes-content-container ol li:hover {
    background: blue;
    cursor: pointer;
}