$red-color: #8b00004f;
$box-shadow-gray: #45454580;
$nav-gray: rgba(79, 79, 79, 0.214);

*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    height: 90%;
}

.top-bar-container {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.top-bar-container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: $nav-gray;
    z-index: -1;
}

.nest-logo-container {
    height: 70px;
    width: 70px;

    .nest-logo {
        height: 100%;
        width: 100%;
    }
}

.cancel-workorder-btn-container {
    // position: absolute;
    // top: 20px;
    // right: 20px;
}

.cancel-workorder-btn {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background: red;
    color: snow;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cancel-text {
    transform: translateY(-2px);
    font-weight: 500;
}

.top-three {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


.select-a-vendor-btn-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.select-a-vendor-btn {
    width: 96%;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 8px 7px 7px #bababa;
    background: darkred;
    border: none;
    color: white;
    border-radius: 5px;
}