<main>
  <section class="top-three">
    <article class="service-history secondary-card">
      <header class="card-header"><span class="first-word">Service </span><span class="rest-of-word"> History</span>
      </header>
    </article>
    <article class="generic-information primary-card">
      <header class="card-header"><span class="first-word">Generic </span> <span class="rest-of-word">
          Information</span></header>
    </article>
    <article class="important-notes secondary-card">
      <header class="card-header"><span class="first-word">Important </span><span class="rest-of-word"> Notes</span>
      </header>
    </article>
  </section>

  <section class="acknowledgment_section"></section>

  <div class="select-a-vendor-btn-container">
    <button class="btn select-a-vendor-btn">Select a Vendor</button>
  </div>
</main>