<main>
  <section class="top-bar-container">
    <div class="top-bar">
      <div class="nest-logo-container">
        <img class="nest-logo" id="nest-logo" src="../assets/images/Nest_LOGO.png" alt="">
      </div>

      <div class="cancel-workorder-btn-container">
        <button class="btn cancel-workorder-btn">
          <span class="cancel-text">
            Cancel
          </span>
        </button>
      </div>
    </div>

  </section>

  <section class="top-three">
    <home-service-history-card>
    </home-service-history-card>

    <generic-information-card>
    </generic-information-card>

    <home-important-notes>
    </home-important-notes>
  </section>

  <section class="acknowledgment_section"></section>

  <div class="select-a-vendor-btn-container">
    <button class="btn select-a-vendor-btn">Select a Vendor</button>
  </div>
</main>