$lighter-seagreen: rgb(175, 255, 251);
$red-color: #8b00004f;
$box-shadow-gray: #45454580;
$nav-gray: rgba(79, 79, 79, 0.214);
$yellow-shadow: rgba(87, 87, 30, 0.2);

$teal-accent-color-1: #2a2d34;
$main-color: #009ddc;
$link-color: #2a2d34;
$primary-color: #009688;
$button-hover-color: #e9ecef;
$table-row-hover-color: #f2f1f1;
$nest-dark-purple: #5e207d;
$nest-purple : #772583;
$nest-orange : #ec641a;
$nest-light-orange: #f49e12;
$nest-teal : #02b0ae;
